@charset "utf-8";

:root {
    --font-title: clamp(1.8rem, 3vw, 2.2rem);
    --font-lg: clamp(1.5rem, 2.5vw, 1.8rem);
    --font-md: clamp(1.2rem, 2.2vw, 1.4rem);
    --font-sm: clamp(0.9rem, 2vw, 1rem);
    --color-blue: #8BC6EC;
    --color-purple: #9599E2;
    --color-active: #4355a7;
    --color-text-m: #1e3c77;
    --color-text-s: #3b5995;
    --color-text-p: #92aee7;
}

.App {
    min-height: 100vh;
    min-height: 100dvh;
    padding-bottom: 60px;
    background-color: var(--color-blue);
    background-image: linear-gradient(135deg, var(--color-blue) 0%, var(--color-purple) 100%);
}